    
  
    
    
    
.html,bodyprincipal {
    margin:0;
    padding:0;
    
}
.bodyprincipal{
    
    background-position:center center ;     /*  deja la imagen de fondo centrada vertical y horizontalmente*/    
    background-repeat: no-repeat;
    background-size: cover ;       /*  la imagen de fondo se reescala automaticamente con el cambio del ancho de ventana del navegador */
    background-attachment:fixed;  /*  la imagen se fija en la ventana de visualizacion para que la altura de la imagen no supere a la del contenido */
    background-color: black;
    
    
} 


footer{
    width:100%;
    height: 15%;
    position: absolute;
    bottom: 0;
}

a:hover {
   
    padding: 10px;
}


   